PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=twoje_haslo_do_bazy
DB_NAME=serwis_db
DB_PORT=3306
JWT_SECRET=wygeneruj_wlasny
#tak się generuje: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
